body {
    padding: 50px;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#messages {
    width: 690px;
    height: 300px;
    overflow: auto;
    background-color: #eee;
    margin-bottom: 1em;
    margin-right: 10px;
}